

<div class="post-list">
  <form>
    <input #filtro type="text" placeholder="Filtrar" data-cy="filtro">
  </form>

  <div class="scroll">
    <div class="columns">
      <h1 class="column-id">Post Id</h1>
      <h1>Título</h1>
      <h1>Descrição</h1>
    </div>

    <ng-container *ngIf="posts.length; else withoutPosts">
      <ng-template [ngIf]="!filtrados.length">
        <app-post
        *ngFor="let post of posts"
        [id]="post.id"
        [title]="post.title"
        [body]="post.body"
      ></app-post>
      </ng-template>
      <ng-template [ngIf]="filtrados.length">
        <app-post
        *ngFor="let post of filtrados"
        [id]="post.id"
        [title]="post.title"
        [body]="post.body"
      ></app-post>
      </ng-template>
    </ng-container>

    <ng-template #withoutPosts>
      <h1 style="text-align: center;">Nenhum post encontrado.</h1>
    </ng-template>
  </div>
</div>
